:root {
  --lemon: #FEF9C7;
  --yellow: #FCE181;
  --mint: #9FEDD7; 
  --darkCyan: #026670;
  --lightGrey: #EDEAE5;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}
html, body  {
    height: 100%;
}
#root {
  background-color: #ccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
