:root {
  --lemon: #FEF9C7;
  --yellow: #FCE181;
  --mint: #9FEDD7; 
  --darkCyan: #026670;
  --lightGrey: #EDEAE5;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;

}
.App {
  display: flex;

  justify-content: center;
  text-align: center;
}

.todo{
  background-color: var(--lightGrey);
  width: 100%;
  max-width: 460px;
  height: 800px;
  display: flex;
  flex-flow: column wrap;
}
.task-list{
  margin-top: 30px;
  display: flex;
  flex-flow: column nowrap;
}
.task{
  margin: 15px 50px;
  background-color: var(--yellow);
  padding: 7px;
  display: flex;
  flex-direction: row;
}
.calendar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.date{
  background-color: var(--lemon);
  border: 1px solid var(--darkCyan);
  width: 60px;
  cursor: pointer;
  height: 70px;
}
.date-focus{
  background-color: var(--mint);
  border-right: 1px solid var(--lightGrey);
  border-left: 1px solid var(--lightGrey);
  position: relative;
}
.date-focus::after{
  content: "";
  position: absolute;
  bottom: -15px;
  left: -2px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid var(--mint);
}
.date-scroll-button{
  width: 20px;
  color: white;
  font-size: 2.8em;
  background-color: var(--darkCyan);
  
}

.progress {
	transform: rotate(-90deg);
}

.progress-bar__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.task{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}